.custom-select:focus,
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
    border-color: rgba(52, 58, 64, 0.25);
}
.tooltip-inner {
   max-width: 310px;
   width: 310px;
   text-align: left;
   padding-left: 10px;
}
#equipmentMask {
    cursor: pointer;
}

